body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ball {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
}

#main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}