body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'poppins';
}

#ball {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#counter {
  font-size: 18px;
}

#reset-button {
  background: rgb(255, 199, 44);
  font-size: 12px;
  font-weight: bold;
  width: 125px;
  height: 46px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline-style: none;
}

#reset-button:hover {
  background: black;
  color: white;
  transition: all .3s;
}