@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'poppins';
}

#ball {
  width: 300px;
  height: 300px;
  border-radius: 50%;

  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#counter {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

#reset-button {
  background: rgb(255, 199, 44);
  font-size: 12px;
  font-weight: bold;
  width: 125px;
  height: 46px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline-style: none;
  transition: all .3s;
}

#reset-button:hover {
  background: black;
  color: white;
  transition: all .3s;
}

#logo {
  height: 80px;
}